* {
    background-color: burlywood;
}

h1 {
    text-align: center;
}

body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cadetblue;
}

img {
    margin: 30px;
    float: right;
    margin-right: 300px;
}